</head>
<body style="background-color: #e8f1f5;">
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper" style="background-color: #005691;">
            <a href="/home" class="center brand-logo" style="font-family: 'Amaranth';">WorkEx</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="#"><%=name%></a></li>
            </ul>
            <ul id="nav-mobile" class="right">
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </nav>
    </div>