<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card horizontal">
      <div class="card-image" style="margin: auto;">
        <img src="//logo.clearbit.com/Tesla.com">
      </div>
      <div class="card-stacked">
        <h5 class="header designation">Software Development Engineer</h5>
        <div class="card-content" style="padding: 15px 15px 0px 15px;">
          <div class="row">
            <div class="col s12">
              <h6 class="header company-name">CarWale</h6>
            </div>
          </div>
          <div class="row footer">
            <div class="col l6">
              <span>Jun. 2019 - Dec. 2021</span>
            </div>
            <div class="col l6">
              <a href="#" style="margin-left: 90%;">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



CSS

.card {
  
}

.card-title {
  padding-top: 5px;
  padding-left: 15px;
}

.footer {
  margin-bottom: 0px;
}

.designation {
  margin: 0px;
  padding: 8px 5px 0px 15px;
}

.company-name {
  margin-top: 8px;
  margin-bottom: 0px;
}






version 2


<div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="card horizontal">
        <div class="card-image" style="margin: auto;">
          <img src="//logo.clearbit.com/Tesla.com">
        </div>
        <div class="card-stacked">
          <h5 class="header designation">Software Development Engineer</h5>
          <div class="card-content" style="padding: 15px 15px 0px 15px;">
            <div class="row">
              <div class="col s12">
                <h6 class="header company-name">CarWale</h6>
              </div>
            </div>
            <div class="row footer">
              <div class="col l4">
                <span>Jun. 2019 - Dec. 2021</span>
              </div>
              <div class="col l4" style="text-align: center;">
                <span>3yrs 10mos</span>
              </div>
              <div class="col l4" style="text-align: right;">
                <a href="#">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  version 3

  <div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="card horizontal">
        <div class="card-image">
          <img src="//logo.clearbit.com/spotify.com">
        </div>
        <div class="card-stacked">
          <h5 class="header designation">Software Development Engineer</h5>
          <div class="card-content" style="padding: 15px 15px 0px 15px;">
            <div class="row">
              <div class="col s8">
                <h6 class="header company-name">CarWale</h6>
              </div>
              <div class="col s4">
                <h6 class="header location">Mumbai, IN</h6>
              </div>
            </div>
            <div class="row footer">
              <div class="col s5">
                <span>Jun. 2019 - Dec. 2021</span>
              </div>
              <div class="col s4 duration">
                <span>3yrs 10mos</span>
              </div>
              <div class="col s3 view-link">
                <a href="#">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  .card-image {
    margin: auto;
  }
  
  .card-title {
    padding-top: 5px;
    padding-left: 15px;
  }
  
  .footer {
    margin-bottom: 5px;
  }
  
  .designation {
    margin: 0px;
    padding: 8px 5px 0px 15px;
  }
  
  .company-name, .location {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  
  .location {
    text-align: right;
  }
  
  .duration {
    text-align: center;
  }
  
  .view-link {
    text-align: right;
  }


  <!-- <% var utility = require(./../../utility.js) %>
<% jobList.forEach( function(job) { %>
  
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img src="//logo.clearbit.com/<%=  job.url  %>">
        </div>
        <div class="card-stacked">
          <h5 class="header designation"><%=  job.designation  %></h5>
          <div class="card-content" style="padding: 15px 15px 0px 15px;">
            <div class="row">
              <div class="col s7 m8">
                <h6 class="header company-name"><%=  job.companyName  %></h6>
              </div>
              <div class="col s5 m4">
                <h6 class="header location"><%=  utility.locationDisplay(job.city, job.countryCode)  %></h6>
              </div>
            </div>
            <div class="row footer">
              <div class="col s9 m5">
                <span><%=  utility.jobTenure(job.startDate.toString(), job.endDate.toString(), job.isCurrentJob)  %></span>
              </div>
              <div class="col s4 duration hide-on-small-only">
                <span><%=  utility.jobDuration(job.startDate.toString(), job.endDate.toString())  %></span>
              </div>
              <div class="col s3 view-link">
                <a href="#">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% }) %> -->